.help-block{
  color:red;
}

.scrollit {
    overflow-y:auto;
    height:560px;
}

.scrollMenu{
    overflow-y:auto;
    height:auto;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #596D82;
    border-radius: 0px;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}*/


.pointer-links{
    cursor: pointer;
}

.fs-10{
    font-size: 10px;
}


.chipset{
    border: 1px solid #46a75b;
    border-radius: 10px;
    margin-right:2px;
}


.table-head-color{
    background: #1E4A93;
    color: white;
}

.p-t-b-25{
    padding-top:15px;
    padding-bottom:15px;
}

.p-l-r-0{
    padding-left:0px!important;
    padding-right:0px!important;
    padding-top:0px!important;
}

.searchBar-w{
    width: 40%;
}


.p-t-b-10{
            padding-top:10px;
            padding-bottom:10px;
        }
        .p-l-20{
            padding-left: 20px;
        }
        .skin-blue .sidebar a {
            color: #ffffff;
        }
        .sidebar-main-li-hightlight{
            color: white;
            padding:13px;
            margin-left:5px;
        }
        .sidebar-li-hightlight{
            background: #1e4a93;
            padding: 15px;
            color: white;
            font-size: 13px;
        }
        .ul-no-style {
            list-style-type: none;
        }
        .bdr-btm-1-white{
            border-bottom:1px solid white
        }
        .m-l-10{
            margin-left:10px
        }

        .bdr-all {
            border: 1px solid #3c8cbc;
        }

        .m-t-10{
            margin-top:10px;
        }

        .m-b-0{
            margin-bottom:0px !important;
        }

        .m-t-10{
            margin-top:10px !important;
        }