<div class="col-sm-10 col-md-offset-1">
    <section class="content-header">
      <h1>
        I.M App
        <small>Add Item</small>
      </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12 pointer-links">
            <div>
                <button ui-sref="view_user" class="btn btn-primary">View Users</button>
                <button ui-sref="view_request" class="btn btn-primary">View Requests</button>

                <div class="text-right"><button ng-click="dashboardScope.logout()" class="btn btn-danger">Logout</button></div><br><br>

                <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Product Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" ng-model="dashboardScope.prod_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="vendor">Vendor</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="vendor" ng-model="dashboardScope.prod_vendor">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="mrp">MRP</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="mrp" ng-model="dashboardScope.prod_mrp">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="batch_no">Batch Number</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="batch_no" ng-model="dashboardScope.prod_batch_no">
                    </div>
                </div>

                 <div class="form-group">
                    <label class="control-label col-sm-2">Batch Date</label>
                    <div class="col-sm-10">
                        <md-datepicker ng-model="dashboardScope.prod_batch_date"></md-datepicker>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="quantity">Quantity</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="quantity" ng-model="dashboardScope.prod_quantity">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" >Status</label>
                    <div class="col-sm-10">
<!--                        <input type="number" class="form-control" id="status" ng-model="dashboardScope.prod_status">-->
                    <select ng-model="dashboardScope.prod_status" class="form-control">
                        <option value="" >---Select---</option>
                        <option value="0" >Pending</option>
                        <option value="1" >Approved</option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="dashboardScope.additem()">Submit</button>
                    </div>
                </div>
                </form>

                <div ng-if="dashboardScope.successMsg ">
                    {{dashboardScope.successMsg }}. <a ui-sref="dashboard">Go to Dashboard</a>
                </div>
            </div>
            </div>
        </div>

    </section>

</div>